{% extends "webapp/padre.html" %}
{% load static %}
{% block section_name %}

{% endblock %}
{% block contenidoQueCambia %}
    <h3 class="card mb-1 mt-3 mx-5 bg-info text-white" style="width: 17.3rem;" >Registro de curso</h3>
<form action="{% url 'cursosFormulario' %}" method="POST">{% csrf_token %}
 
    <table class ="card mb-1 mt-1 mx-5 bg-info text-white"style="width: 17.3rem;">
        <style>
            table, th, td {
                border: 1px solid black;
                border-collapse: collapse;
                background-color:grey;

            }
            th, td {
                padding: 5px;
                text-align: left;
            }

        </style>
        
        {{miFormulario.as_table}}
        <tr>
            <td>
                <input type="submit" value="enviar">
            </td>     
    </table>
    
    </style> 

    
 
</form>



{% endblock %}